* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}

#cabecalho {
    background-color: #bdecb6;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
#cabecalho h1 {
    flex-grow: 1; 
    text-align: center; 
    margin-right: 150px; 
    font-size: 40px; 
}
#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
}
#menu-links {
    font-size: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 15px;
}

#menu-links a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 5px;
}

#menu-links a:hover {
    color: #007bff;
    border-radius: 5px;
}

#menu-links i {
    font-size: 20px;
}

#logo {
    height: 120px;
    width: 120px;
    border-radius: 100px;
    justify-content: end;
}
h2 {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
    margin-block-end: 40px;
}
h3{
    margin-block-end: 20px;
}
input, #botao {
    border-radius: 10px;
    border: none;
    background: #f0f0f0;
    padding: 15px;
    width: 100%; 
    margin-bottom: 10px;
    box-sizing: border-box; 
}

#botao {
    background-color: #4CAF50; 
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#botao:hover {
    background-color: #45a049; 
}

#esqueci {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}

#esqueci:hover {
    text-decoration: underline;
}
#dp2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 40%;
    padding: 20px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



